<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devhelper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.example.devhelper.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="CanvasActivity" />
        <activity android:name="OpenRtspActivity" />
        <activity android:name="SystemInfoActivity" />
        <activity android:name="ResourceActivity" />
        <activity android:name="ShowRotatedPictureActivity" />
        <activity android:name="BeautifiedUIActivity" />
        <activity android:name="UsbHostDemo" />
        <activity android:name="PhoneActivity" />
        <activity android:name="TitleActivity" />
        <activity android:name="ImageCropActivity" />
        <activity android:name="CameraActivity" />
        <activity android:name="ListViewDemo" />
        <activity android:name="CallLogActivity" />

        <receiver android:name="NetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>